<p>pipes works!</p>
<h2>{{channelName | uppercase}}</h2>
<h2>{{channelName | titlecase}}</h2>
<h2>{{channelName | slice:3:6}}</h2>
<h2>{{obj | json }}</h2>

 <!-- Date Pipe -->

<h2>{{myDate}}</h2>
<h2>{{myDate | date:'short'}}</h2>
<h2>{{myDate | date:'medium'}}</h2>
<h2>{{myDate | date:'long'}}</h2>
<h2>{{myDate | date:'full'}}</h2>

<h2>{{myDate | date:'shortDate'}}</h2>
<h2>{{myDate | date:'mediumDate'}}</h2>
<h2>{{myDate | date:'longDate'}}</h2>
<h2>{{myDate | date:'fullDate'}}</h2>

<h2>{{myDate | date:'shortTime'}}</h2>
<h2>{{myDate | date:'mediumTime'}}</h2>
<h2>{{myDate | date:'longTime'}}</h2>
<h2>{{myDate | date:'fullTime'}}</h2>



