<h1 appChangeMe myColor="blue" myBgColor="orange">Hello My lovely friends</h1>
<h1 appChangeMe myColor="pink">Hello My lovely friends</h1>






<!-- Reactiveform -->
<!-- <div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="text-center bg-primary p-4">
                <h1>Reactive Forms</h1>
            </div>
            <form [formGroup]="signupForm" (ngSubmit)="handleSubmit()">
                <div class="form-group">
                    <label>Enter Name:</label>
                    <input type="text" name="name" [class.is-invalid]="f['name'].invalid && f['name'].touched" class="form-control" formControlName="name">
                </div>
                <div class="alert alert-danger" *ngIf="f['name'].invalid && f['name'].touched">
                    <div *ngIf="f['name'].errors && f['name'].errors['required']">
                        Name is required
                    </div>
                    <div *ngIf="f['name'].errors && f['name'].errors['minlength']">
                        minimum length 3 is required
                    </div>
                    <div *ngIf="f['name'].errors && f['name'].errors['maxlength']">
                        maximum length 10 is required
                    </div>
                </div>

                <div class="form-group">
                    <label>Enter Age:</label>
                    <input type="number" name="age" [class.is-invalid]="f['age'].invalid && f['age'].touched" class="form-control" formControlName="age">
                </div>
                <div class="alert alert-danger" *ngIf="f['age'].invalid && f['age'].touched">
                    <div *ngIf="f['age'].errors && f['age'].errors['required']">
                        Age is required
                    </div>
                    <div *ngIf="f['age'].errors && f['age'].errors['min']">
                        minimum age 10 is required
                    </div>
                    <div *ngIf="f['age'].errors && f['age'].errors['max']">
                        maximum age 50 is required
                    </div>
                </div>

                <div class="form-group">
                    <label>Enter Email:</label>
                    <input type="email" name="email" [class.is-invalid]="f['email'].invalid && f['email'].touched" class="form-control" formControlName="email">
                </div>
                <div class="alert alert-danger" *ngIf="f['email'].invalid && f['email'].touched">
                    <div *ngIf="f['email'].errors && f['email'].errors['required']">
                        Email is required
                    </div>
                    <div *ngIf="f['email'].errors && f['email'].errors['pattern']">
                        Inavlid email 
                    </div>
                </div>

                <label>Gender:</label>
                <div class="form-check">
                    <input type="radio" class="form-check-input" formControlName="gender" name="gender" value="Male">
                    <label>Male</label>
                </div>
                <div class="form-check">
                    <input type="radio" class="form-check-input" formControlName="gender" name="gender" value="Female">
                    <label>Female</label>
                </div>
                <div class="form-group">
                    <label>Country:</label>
                    <select name="country" formControlName="country" class="form-control">
                        <option value="">Select</option>
                        <option value="USA">USA</option>
                        <option value="India">India</option>
                        <option value="China">China</option>
                    </select>
                </div>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" formControlName="accept" name="accept">
                    <label>I accept the terms and conditions.</label>
                </div>
                <label>Hobbies:</label>
                <div *ngFor="let hobby of hobbiesArray; let i=index;">
                    <label>
                        <input type="checkbox" (change)="onChange($event)" class="form-check-input" [value]="hobby" name="hobbies" >
                        {{hobby}}
                    </label>
                </div>

                <br>
                <div class="d-grid">
                    <input type="submit" value="submit" [class.disabled]="signupForm.invalid" class="btn btn-primary">
                </div>
            </form>
        </div>
    </div>
</div> -->






<!-- <app-user></app-user>
<app-twoway></app-twoway> -->
<!-- <app-child [myData]="name" ></app-child>
<app-child [myDataArray]="fruits" ></app-child>
<app-child [myDataObj]="obj" ></app-child>

<button (click)="changeData()">Change Data</button> -->
<!-- <h2>{{msg}}</h2>
<app-child2 (childEvent)="msg=$event"></app-child2> -->
<!-- <app-pipes></app-pipes> -->
<!-- <h2>{{ 2 | custom }}</h2> -->
<!-- <app-student-list></app-student-list> -->
<!-- <h1>Getting data from an API</h1>
<ul>
    <li *ngFor="let p of posts">
        {{p.title}} -- {{p.id}}
   </li>
</ul>  -->
<!-- <app-tdf></app-tdf> -->


