

<!-- <app-user></app-user>
<app-twoway></app-twoway> -->
<!-- <app-child [myData]="name" ></app-child>
<app-child [myDataArray]="fruits" ></app-child>
<app-child [myDataObj]="obj" ></app-child>

<button (click)="changeData()">Change Data</button> -->
<!-- <h2>{{msg}}</h2>
<app-child2 (childEvent)="msg=$event"></app-child2> -->
<!-- <app-pipes></app-pipes> -->
<!-- <h2>{{ 2 | custom }}</h2> -->
<!-- <app-student-list></app-student-list> -->
<!-- <h1>Getting data from an API</h1>
<ul>
    <li *ngFor="let p of posts">
        {{p.title}} -- {{p.id}}
   </li>
</ul>  -->
<app-tdf></app-tdf>


